{% extends 'base.html.twig' %}

{% block title %}Cotegory{% endblock %}

{% block body %}
    <h1>Cotegory</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ cotegory.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ cotegory.nom }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('cotegory_index') }}">back to list</a>

    <a href="{{ path('cotegory_edit', {'id': cotegory.id}) }}">edit</a>

    {{ include('cotegory/_delete_form.html.twig') }}
{% endblock %}
