<!doctype html>
<html lang="zxx">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title> Ecosystème   </title>
  <!-- Bootstrap core CSS -->
  <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom fonts for this template -->
  <link href="../vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Work+Sans:400,300,600,400italic,700' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/css?family=Sacramento" rel="stylesheet">
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <link href="https://raw.githubusercontent.com/daneden/animate.css/master/animate.css" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">


  <!-- Custom styles for this template -->
  <link href="../css/grayscale.min.css" rel="stylesheet">

  <link rel="icon" href="../img/favicon.png">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="../css/bootstrap.min.css">

  <!-- animate CSS -->
  <link rel="stylesheet" href="../css/animate.css">
  <!-- owl carousel CSS -->
  <link rel="stylesheet" href="../css/owl.carousel.min.css">
  <link rel="stylesheet" href="../css/lightslider.min.css">
  <!-- font awesome CSS -->
  <link rel="stylesheet" href="../css/all.css">
  <!-- flaticon CSS -->
  <link rel="stylesheet" href="../css/flaticon.css">
  <link rel="stylesheet" href="../css/themify-icons.css">
  <!-- font awesome CSS -->
  <link rel="stylesheet" href="../css/magnific-popup.css">
  <!-- style CSS -->

  <link rel="stylesheet" href="../css/style4.css">
</head>

<body class="bg-white" id="page-top">
 <header>
   <div class="container-fluid">

      <div class="row align-items-center justify-content-center">


  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">

        <a class="navbar-brand" href="index.html"> <img src="img/logo.png" alt="logo"> </a>
          <a class="navbar-brand js-scroll-trigger" href="#page-top"> Ecosystème  </a>
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
              Menu
              <i class="fas fa-bars"></i>
          </button>

          <div class="collapse navbar-collapse main-menu-item" id="navbarResponsive">
              <ul class="navbar-nav ml-auto">
                  <li class="nav-item">
                      <a class="nav-link js-scroll-trigger" href="#about">About</a>
                  </li>

                  <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Produits
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/product/new">Ajouter</a>
            <a class="dropdown-item" href="/lister">Lister</a>
          </div>
        </li>

        <li class="nav-item dropdown">

        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Evenements
           </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/event/new">Ajouter</a>
              <a class="dropdown-item" href="#">Lister</a>
            </div>
        </li>
                  <li class="nav-item">
                      <a class="nav-link js-scroll-trigger" href="">Forum </a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link js-scroll-trigger" href="#signup">Contact</a>
                  </li>
              </ul>

          </div>
          <div class="hearer_icon d-flex">
              <div class="dropdown cart">
                  <a class="dropdown-toggle" href="#" id="navbarDropdown3" role="button"
                      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="ti-bag"></i>
                  </a>
                  <!-- <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <div class="single_product">

                      </div>
                  </div> -->
              </div>
              <a id="search_1" href="javascript:void(0)"><i class="ti-search"></i></a>
          </div>


        </nav>
    </div>
  </div>
    <div class="search_input" id="search_input_box">
        <div class="container ">
            <form class="d-flex justify-content-between search-inner">
                <input type="text" class="form-control" id="search_input" placeholder="Search Here">
                <button type="submit" class="btn"></button>
                <span class="ti-close" id="close_search" title="Close Search"></span>
            </form>
        </div>
    </div>
    </header>




<div class="fh5co-loader"></div>
<header id="fh5co-header">
  <div class="overlay"></div>
  <div class="modal" id="modal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">

              <div class="modal-body">


              </div>
          </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
  <div class="container">

<!--================Single Product Area =================-->
<div class="product_image_area section_padding">
  <div class="container">
    <div class="row s_product_inner">
      <div class="col-lg-5">
        <div class="product_slider_img">
          <div id="vertical">
            <div data-thumb="img/product_details/prodect_details_1.png">
              <img src="../img/demo-image-01.jpg" />
            </div>

          </div>
        </div>
      </div>
      <div class="col-lg-5 offset-lg-1">
        <div class="s_product_text">


          <a data-target="{{ path('product_edit', {'id': product.id}) }}" data-tooltip="voir" style="margin-bottom: 5px; margin-left: 458px"
          class=" modal-trigger genric-btn success-border "
          href="#modal1">Edit</a>
          <div style="margin-bottom: 5px; margin-left: 450px" > {{ include('product/_delete_form.html.twig') }}</div>





          <h3>{{ product.name }}</h3>
          <h2>{{ product.prix }} TND</h2>
          <ul class="list">
            <li>
              <a class="active" href="#">
                <span>Category</span> : {{ product.type }}</a>
            </li>
            <li>
              <a href="#"> <span>Availibility</span> : In Stock</a>
            </li>
          </ul>
          <p>
              Mill Oil is an innovative oil filled radiator with the most modern technology. If you are looking for something that can make your interior look awesome, and at the same time.
          </p>
          <div class="card_area">
            <div class="product_count d-inline-block">
              <span class="inumber-decrement"> <i class="ti-minus"></i></span>
              <input class="input-number" type="text" value="1" min="0" max="10">
              <span class="number-increment"> <i class="ti-plus"></i></span>
            </div>
            <div class="add_to_cart">
                <a href="#" class="btn_3">add to cart</a>
                <a href="#" class="like_us"> <i class="ti-heart"></i> </a>


            </div>
              <div >




         </div>
            <div class="social_icon">
                <a href="#" class="fb"><i class="ti-facebook"></i></a>
                <a href="#" class="tw"><i class="ti-twitter-alt"></i></a>
                <a href="#" class="li"><i class="ti-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--================Product Description Area =================-->
<section class="product_description_area">
  <div class="container">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
          aria-selected="true">Description</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" id="review-tab" data-toggle="tab" href="#review" role="tab" aria-controls="review"
          aria-selected="false">Reviews</a>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">
        <p>
          Beryl Cook is one of Britain’s most talented and amusing artists
          .Beryl’s pictures feature women of all shapes and sizes enjoying
          themselves .Born between the two world wars, Beryl Cook eventually
          left Kendrick School in Reading at the age of 15, where she went
          to secretarial school and then into an insurance office. After
          moving to London and then Hampton, she eventually married her next
          door neighbour from Reading, John Cook. He was an officer in the
          Merchant Navy and after he left the sea in 1956, they bought a pub
          for a year before John took a job in Southern Rhodesia with a
          motor company.
        </p>
        <p>
          It is often frustrating to attempt to plan meals that are designed
          for one. Despite this fact, we are seeing more and more recipe
          books and Internet websites that are dedicated to the act of
          cooking for one.
        </p>
      </div>
    <div class="tab-pane fade show active" id="review" role="tabpanel" aria-labelledby="review-tab">
      <div class="row">
        <div class="col-lg-6">
          <div class="row total_rate">
            <div class="col-6">
              <div class="box_total">
                <h5>Overall</h5>
                <h4>4.0</h4>
                <h6>(03 Reviews)</h6>
              </div>
            </div>
            <div class="col-6">
              <div class="rating_list">
                <h3>Based on 3 Reviews</h3>
                <ul class="list">
                  <li>
                    <a href="#">5 Star
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i> 01</a>
                  </li>
                  <li>
                    <a href="#">4 Star
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i> 01</a>
                  </li>
                  <li>
                    <a href="#">3 Star
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i> 01</a>
                  </li>
                  <li>
                    <a href="#">2 Star
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i> 01</a>
                  </li>
                  <li>
                    <a href="#">1 Star
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i> 01</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="review_list">
            <div class="review_item">
              <div class="media">
                <div class="d-flex">
                  <img src="img/product/single-product/review-1.png" alt="" />
                </div>
                <div class="media-body">
                  <h4>Blake Ruiz</h4>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </div>
              </div>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna
                aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                ullamco laboris nisi ut aliquip ex ea commodo
              </p>
            </div>
            <div class="review_item">
              <div class="media">
                <div class="d-flex">
                  <img src="img/product/single-product/review-2.png" alt="" />
                </div>
                <div class="media-body">
                  <h4>Blake Ruiz</h4>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </div>
              </div>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna
                aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                ullamco laboris nisi ut aliquip ex ea commodo
              </p>
            </div>
            <div class="review_item">
              <div class="media">
                <div class="d-flex">
                  <img src="img/product/single-product/review-3.png" alt="" />
                </div>
                <div class="media-body">
                  <h4>Blake Ruiz</h4>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </div>
              </div>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna
                aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                ullamco laboris nisi ut aliquip ex ea commodo
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="review_box">
            <h4>Add a Review</h4>
            <p>Your Rating:</p>
            <ul class="list">
              <li>
                <a href="#">
                  <i class="fa fa-star"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-star"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-star"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-star"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-star"></i>
                </a>
              </li>
            </ul>
            <p>Outstanding</p>
            <form class="row contact_form" action="contact_process.php" method="post" novalidate="novalidate">
              <div class="col-md-12">
                <div class="form-group">
                  <input type="text" class="form-control" name="name" placeholder="Your Full name" />
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <input type="email" class="form-control" name="email" placeholder="Email Address" />
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <input type="text" class="form-control" name="number" placeholder="Phone Number" />
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <textarea class="form-control" name="message" rows="1" placeholder="Review"></textarea>
                </div>
              </div>
              <div class="col-md-12 text-right">
                <button type="submit" value="submit" class="btn_3">
                  Submit Now
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>


</div>

<nav aria-label="navigation">
  <ul class="pager">
    <li class="previous"><a href="{{ path('product_index') }}" title="Précédent">back to list</a></li>

  </ul>
</nav>
</header>



<div class="gototop js-top">
  <a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
</div>

<!--================End Single Product Area =================-->

<!-- jquery plugins here-->
<script src="../js/jquery-1.12.1.min.js"></script>
<!-- popper js -->
<script src="../js/popper.min.js"></script>
<!-- bootstrap js -->
<script src="../js/bootstrap.min.js"></script>
<!-- easing js -->
<script src="../js/jquery.magnific-popup.js"></script>
<!-- swiper js -->
<script src="../js/lightslider.min.js"></script>
<!-- swiper js -->
<script src="../js/mixitup.min.js"></script>
<script src="../js/lightslider.min.js"></script>
<!-- particles js -->
<script src="../js/owl.carousel.min.js"></script>
<script src="../js/jquery.nice-select.min.js"></script>
<!-- slick js -->
<script src="../js/slick.min.js"></script>
<script src="../js/jquery.counterup.min.js"></script>
<script src="../js/waypoints.min.js"></script>
<script src="../js/contact.js"></script>
<script src="../js/jquery.ajaxchimp.min.js"></script>
<script src="../js/jquery.form.js"></script>
<script src="../js/jquery.validate.min.js"></script>
<script src="../js/mail-script.js"></script>
<!-- custom js -->
<script src="../js/custom.js"></script>
<script src="../vendor/jquery/jquery.min.js"></script>
<script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Plugin JavaScript -->
<script src="../vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for this template -->
<script src="../js/grayscale.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {
//On écoute le "click" sur le bouton ayant la classe "modal-trigger"
$('.modal-trigger').click(function () {
//On initialise les modales materialize
        $('.modal').modal();
        //On récupère l'url depuis la propriété "Data-target" de la balise html a
        url = $(this).attr('data-target');
        //on fait un appel ajax vers l'action symfony qui nous renvoie la vue
        $.get(url, function (data) {
            //on injecte le html dans la modale
            $('.modal-content').html(data);
            //on ouvre la modale
            $('#modal1').modal('open');
        });
    })
});

</script>
</body>

</html>
